body {
    background-image: url("img/s-tsuchiya-kDp2CuENruo-unsplash.jpg");
    background-size: cover;

}
body footer {
    font-size: 1.5rem;
    color: white;
}
.container {
    background-image: url("img/tips saludables.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    width: 360px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    padding: 10px;
}
.container button {
    position: absolute;
    background-color: yellowgreen;
    font-size: 1.4rem;
    top: 500px;
    padding: 5px;
    text-align: center;
   

}
.container a {
    position: absolute;
    font-family: monospace;
    top: 580px;
    font-size: 1rem;
    color: white;
    text-align: center;

}
.container p {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 30%;
    transform: translate -50% -50%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}




