body {
    background-image: url("img/s-tsuchiya-kDp2CuENruo-unsplash.jpg");
    background-size: cover;

}
body footer {
    font-size: 1.5rem;
    color: white;
}
.container {
    background-image: url("img/tips saludables.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 760px;
    width: 900px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    padding: 10px;
}
.container button {
    position: absolute;
    background-color: yellowgreen;
    font-size: 1.2rem;
    top: 55%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 180px;
    right: 40%;
   

}
.container a {
    position: absolute;
    font-family: monospace;
    top: 640px;
    font-size: 1.1rem;
    color: white;
    text-align: center;

}
.container p {
    font-size: 4rem;
    color: white;
    position: absolute;
    right: 28%;
    top: 10%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
#regGoogle {
    color: black;
    width: 260px;
    height: 45px;
    top: 65%;
    background-color: white;
    right: 36%;
}
#regFacebook {
    color: black;
    width: 400px;
    top: 300px;
    background-color: white;
    right: 12%;
}
#cuenta {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    position: relative;
    top: 40%;
    text-align: center;
}

#go {
    right: 4%;
}
#cuentaGoogle {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}
#cuentaAcceder {
    font-size: 2rem;
    color: white;
    text-align: center;
}
#tuCuenta {
    font-size: 2rem;
    color: white;
    text-align: center;
}
#acces {
    display: block;
    position: absolute;
    right: 25%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#password {
    display: block;
    position: absolute;
    top: 43%;
    right: 25%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#sesion {
    top: 55%;
    background-color: yellowgreen;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 20px;
    width: 160px;
    height: 45px;
    right: 36%;
    
}
#log {
    right: 4%;
}
#loguear {
    right: 4%;
}
#login {
    display: block;
    position: absolute;
    right: 25%;
    top: 15%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#clave {
    display: block;
    position: absolute;
    top: 25%;
    right: 25%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#ingGoogle {
    top: 70%;
    width: 260px;
    height: 50px;
    right: 35%;
    background-color: white;
}
#ingFacebook {
    top: 60%;
    width: 400px;
    right: 12%;
    background-color: white;
}
#enter {
    top: 35%;
    position: absolute;
    background-color: yellowgreen;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    right: 32%;
}
#regist {
    right: 41%
}
#correo {
    display: block;
    position: absolute;
    right: 35%;
    top: 35%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#contraseña {
    display: block;
    position: absolute;
    top: 45%;
    right: 35%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#pregunta {
    font-size: 1.2rem;
    top: 75%;
    right: 41%;
}
#name {
    display: block;
    position: absolute;
    right: 35%;
    top: 25%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#emailReg {
    display: block;
    position: absolute;
    top: 35%;
    right: 35%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
#passwordReg {
    display: block;
    position: absolute;
    right: 35%;
    top: 45%;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 25px;
    font-size: 1rem;
}
  